body {
    font-weight: bold;
    text-align: center;
}

#root{
    margin: auto;
    max-width: 700px;
    padding: 2rem;
}

.calculadora {
    
    border: 1px solid grey;
    padding: 2rem;
}

.contenedor-teclas {
    border: 1px solid grey;
    margin-top: 2rem;
}

.pantalla {
    min-height: 60px;
    background-color: lightgrey;
    width: 70%;
    padding: 1.3rem 0;
    margin: auto;
    
}
.fila-calculadora{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
    height: 100%;
}

.tecla {
    font-weight: bold;
    background-color: #fff;
    display: inline-flex;
    padding: 1rem;
}

.tecla-clear {
    font-weight: inherit;
    min-width: 150px;
    max-width: 300px;
    width: 70%;
    margin: 1rem auto;
    padding: 2rem;
}

.operador {
    
}
